@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body,
h1,
p,
h2,
h3 {
  margin: 0;
}

.jumbo {
  font-size: 3em;
}

.navbar-logo {
  height: 30px;
}
